
.home-container {
    display: flex;
    flex-direction: row;
    flex: 1fr 2fr;

    .chat-container {
        flex: 2;
    }

    .metrics {
        flex: 3;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.chart {
    background-color: black;
    border-radius: 1.5%;
    width: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}
